Repository kapil797/multi-site-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fixing bug in nav menu, adding layer two
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/core/components/fallback/fallback.component.html
  src/app/core/components/fallback/fallback.component.scss
  src/app/core/components/nav-menu/nav-menu.component.html
  src/app/core/components/nav-menu/nav-menu.component.scss
  src/app/core/components/nav-menu/nav-menu.component.ts
  src/app/core/components/nav-menu/nav-menu.constant.ts
  src/app/core/components/unauthorized/unauthorized.component.html
  src/app/core/components/unauthorized/unauthorized.component.scss
  src/app/core/constants/routes.constant.ts
  src/app/core/services/app.service.ts
  src/app/features/production-tracking/components/layer-two/layer-two.component.html
  src/app/features/production-tracking/components/layer-two/layer-two.component.ts
  src/app/features/production-tracking/components/navigation/navigation.component.html
  src/app/features/production-tracking/components/navigation/navigation.component.scss
  src/app/features/production-tracking/components/navigation/navigation.component.spec.ts
  src/app/features/production-tracking/components/navigation/navigation.component.ts
  src/app/features/production-tracking/components/process-tracking/process-tracking.component.html
  src/app/features/production-tracking/components/process-tracking/process-tracking.component.scss
  src/app/features/production-tracking/components/process-tracking/process-tracking.component.spec.ts
  src/app/features/production-tracking/components/process-tracking/process-tracking.component.ts
  src/app/features/production-tracking/components/sales-order-details/sales-order-details.component.html
  src/app/features/production-tracking/components/sales-order-details/sales-order-details.component.scss
  src/app/features/production-tracking/components/sales-order-details/sales-order-details.component.spec.ts
  src/app/features/production-tracking/components/sales-order-details/sales-order-details.component.ts
  src/app/features/production-tracking/components/work-order-details/work-order-details.component.html
  src/app/features/production-tracking/components/work-order-details/work-order-details.component.scss
  src/app/features/production-tracking/components/work-order-details/work-order-details.component.spec.ts
  src/app/features/production-tracking/components/work-order-details/work-order-details.component.ts
  src/app/features/production-tracking/production-tracking-routing.module.ts
  src/app/features/production-tracking/production-tracking.model.ts
  src/app/features/production-tracking/production-tracking.module.ts
  src/app/features/production-tracking/production-tracking.service.ts
  src/app/shared/animations.ts
  src/app/shared/shared.module.ts
Due: prettier --write, eslint

adding layer resolver
  src/app/app.routes.ts
  src/app/core/auth/auth.guard.ts
  src/app/core/auth/roles.constant.ts
  src/app/core/components/landing/landing.component.ts
  src/app/core/components/nav-menu/nav-menu.component.html
  src/app/core/components/nav-menu/nav-menu.component.ts
  src/app/core/components/nav-menu/nav-menu.constant.ts
  src/app/core/constants/routes.constant.ts
  src/app/features/production-tracking/components/layer-resolver/layer-resolver.component.html
  src/app/features/production-tracking/components/layer-resolver/layer-resolver.component.scss
  src/app/features/production-tracking/components/layer-resolver/layer-resolver.component.spec.ts
  src/app/features/production-tracking/components/layer-resolver/layer-resolver.component.ts
  src/app/features/production-tracking/components/mf-layer-one/mf-layer-one.component.html
  src/app/features/production-tracking/components/mf-layer-one/mf-layer-one.component.scss
  src/app/features/production-tracking/components/mf-layer-one/mf-layer-one.component.spec.ts
  src/app/features/production-tracking/components/mf-layer-one/mf-layer-one.component.ts
  src/app/features/production-tracking/components/mf-layer-two/mf-layer-two.component.html
  src/app/features/production-tracking/components/mf-layer-two/mf-layer-two.component.scss
  src/app/features/production-tracking/components/mf-layer-two/mf-layer-two.component.spec.ts
  src/app/features/production-tracking/components/mf-layer-two/mf-layer-two.component.ts
  src/app/features/production-tracking/components/navigation/navigation.component.html
  src/app/features/production-tracking/components/navigation/navigation.component.ts
  src/app/features/production-tracking/production-tracking-routing.module.ts
  src/app/features/production-tracking/production-tracking.module.ts
  src/app/shared/classes/cancell-subscription/cancel-subscription.class.spec.ts
  src/app/shared/classes/cancell-subscription/cancel-subscription.class.ts
  src/app/shared/classes/form/form.class.spec.ts
  src/app/shared/classes/form/form.class.ts
  src/app/shared/components/form/form.component.html
  src/app/shared/directives/component/component.directive.spec.ts
  src/app/shared/directives/component/component.directive.ts
  src/app/shared/shared.module.ts
Due: prettier --write, eslint

adding sales order details
  README.md
  src/app/core/components/landing/landing.component.ts
  src/app/core/components/nav-menu/nav-menu.component.ts
  src/app/core/styles/_base.scss
  src/app/core/styles/_variables.scss
  src/app/features/production-tracking/components/custom-card/custom-card.component.html
  src/app/features/production-tracking/components/custom-card/custom-card.component.scss
  src/app/features/production-tracking/components/custom-card/custom-card.component.spec.ts
  src/app/features/production-tracking/components/custom-card/custom-card.component.ts
  src/app/features/production-tracking/components/layer-resolver/layer-resolver.component.ts
  src/app/features/production-tracking/components/mf-layer-one/mf-layer-one.component.html
  src/app/features/production-tracking/components/mf-layer-one/mf-layer-one.component.scss
  src/app/features/production-tracking/components/mf-layer-one/mf-layer-one.component.ts
  src/app/features/production-tracking/components/mf-layer-two/mf-layer-two.component.html
  src/app/features/production-tracking/components/mf-layer-two/mf-layer-two.component.scss
  src/app/features/production-tracking/components/mf-layer-two/mf-layer-two.component.ts
  src/app/features/production-tracking/components/navigation/navigation.component.html
  src/app/features/production-tracking/components/navigation/navigation.component.scss
  src/app/features/production-tracking/components/navigation/navigation.component.ts
  src/app/features/production-tracking/components/projected-completion/projected-completion.component.html
  src/app/features/production-tracking/components/projected-completion/projected-completion.component.scss
  src/app/features/production-tracking/components/projected-completion/projected-completion.component.spec.ts
  src/app/features/production-tracking/components/projected-completion/projected-completion.component.ts
  src/app/features/production-tracking/components/sales-order-details/sales-order-details.component.html
  src/app/features/production-tracking/components/sales-order-details/sales-order-details.component.scss
  src/app/features/production-tracking/components/sales-order-details/sales-order-details.component.ts
  src/app/features/production-tracking/production-tracking.module.ts
  src/app/shared/classes/cancel-subscription/cancel-subscription.class.spec.ts
  src/app/shared/classes/cancel-subscription/cancel-subscription.class.ts
  src/app/shared/classes/form/form.class.ts
  src/app/shared/components/sidebar/sidebar.component.scss
  src/app/shared/configs/notification.ts
  src/app/shared/configs/progress-bars.config.ts
  src/app/shared/shared.module.ts
Due: prettier --write, eslint

updating process tracking
  .eslintrc.json
  src/app/core/styles/_base.scss
  src/app/core/styles/_variables.scss
  src/app/core/styles/card.scss
  src/app/core/utils/formatters.ts
  src/app/features/production-tracking/components/custom-scroll/custom-scroll.component.html
  src/app/features/production-tracking/components/custom-scroll/custom-scroll.component.scss
  src/app/features/production-tracking/components/custom-scroll/custom-scroll.component.ts
  src/app/features/production-tracking/components/layer-two/layer-two.component.html
  src/app/features/production-tracking/components/layer-two/layer-two.component.ts
  src/app/features/production-tracking/components/line-items/line-items.component.html
  src/app/features/production-tracking/components/line-items/line-items.component.ts
  src/app/features/production-tracking/components/navigation/navigation.component.html
  src/app/features/production-tracking/components/navigation/navigation.component.scss
  src/app/features/production-tracking/components/navigation/navigation.component.spec.ts
  src/app/features/production-tracking/components/navigation/navigation.component.ts
  src/app/features/production-tracking/components/process-tracking/process-tracking.component.html
  src/app/features/production-tracking/components/process-tracking/process-tracking.component.scss
  src/app/features/production-tracking/components/process-tracking/process-tracking.component.ts
  src/app/features/production-tracking/components/progress/progress.component.html
  src/app/features/production-tracking/components/progress/progress.component.ts
  src/app/features/production-tracking/components/projected-completion/projected-completion.component.ts
  src/app/features/production-tracking/components/sales-order-details/sales-order-details.component.html
  src/app/features/production-tracking/components/sales-order-details/sales-order-details.component.ts
  src/app/features/production-tracking/components/work-order-details/work-order-details.component.html
  src/app/features/production-tracking/components/work-order-details/work-order-details.component.ts
  src/app/features/production-tracking/mock-data/execution.json
  src/app/features/production-tracking/mock-data/execution2.json
  src/app/features/production-tracking/mock-data/process-tracking.json
  src/app/features/production-tracking/mock-data/sales-order.json
  src/app/features/production-tracking/mock-data/work-order.json
  src/app/features/production-tracking/mock-data/work-order2.json
  src/app/features/production-tracking/production-tracking.model.ts
  src/app/features/production-tracking/production-tracking.module.ts
  src/app/features/production-tracking/production-tracking.service.ts
  src/app/shared/configs/notification.ts
Due: prettier --write, eslint

touching up production tracking, adding ui blocker
  src/app/core/constants/api.constant.ts
  src/app/features/production-tracking/components/layer-two/layer-two.component.html
  src/app/features/production-tracking/components/layer-two/layer-two.component.ts
  src/app/features/production-tracking/components/process-tracking/process-tracking.component.html
  src/app/features/production-tracking/components/projected-completion/projected-completion.component.html
  src/app/features/production-tracking/components/projected-completion/projected-completion.component.ts
  src/app/features/production-tracking/components/sales-order-details/sales-order-details.component.html
  src/app/features/production-tracking/components/work-order-details/work-order-details.component.html
  src/app/features/production-tracking/components/work-order-details/work-order-details.component.ts
  src/app/features/production-tracking/mock-data/process-tracking.json
  src/app/features/production-tracking/production-tracking.model.ts
  src/app/features/production-tracking/production-tracking.service.ts
  src/app/shared/components/navbar/navbar.component.html
  src/app/shared/components/navbar/navbar.component.scss
  src/app/shared/components/navbar/navbar.component.ts
  src/app/shared/components/ui-blocker/ui-blocker.component.html
  src/app/shared/components/ui-blocker/ui-blocker.component.scss
  src/app/shared/components/ui-blocker/ui-blocker.component.spec.ts
  src/app/shared/components/ui-blocker/ui-blocker.component.ts
  src/app/shared/shared.module.ts
  src/styles.scss
Due: prettier --write, eslint

touching up production tracking
  src/app/core/components/nav-menu/nav-menu.component.html
  src/app/core/components/nav-menu/nav-menu.component.scss
  src/app/core/components/nav-menu/nav-menu.component.ts
  src/app/core/styles/_variables.scss
  src/app/core/styles/grid.scss
  src/app/features/production-tracking/components/custom-card/custom-card.component.html
  src/app/features/production-tracking/components/custom-card/custom-card.component.scss
  src/app/features/production-tracking/components/custom-card/custom-card.component.ts
  src/app/features/production-tracking/components/layer-one/layer-one.component.html
  src/app/features/production-tracking/components/layer-one/layer-one.component.ts
  src/app/features/production-tracking/components/process-tracking/process-tracking.component.scss
  src/app/features/production-tracking/components/work-order-details/work-order-details.component.html
  src/app/features/production-tracking/components/work-order-details/work-order-details.component.ts
  src/app/features/production-tracking/production-tracking.service.ts
  src/app/shared/components/circle-status/circle-status.component.html
  src/app/shared/components/circle-status/circle-status.component.scss
  src/app/shared/components/circle-status/circle-status.component.spec.ts
  src/app/shared/components/circle-status/circle-status.component.ts
  src/app/shared/shared.module.ts
Due: prettier --write, eslint

adding features
  src/app/features/demand-profile/demand-profile.module.ts
  src/app/features/demand-profiles/demand-profiles.component.html
  src/app/features/demand-profiles/demand-profiles.component.scss
  src/app/features/demand-profiles/demand-profiles.component.spec.ts
  src/app/features/demand-profiles/demand-profiles.component.ts
  src/app/features/logistic-tracking/logistic-tracking.component.html
  src/app/features/logistic-tracking/logistic-tracking.component.scss
  src/app/features/logistic-tracking/logistic-tracking.component.spec.ts
  src/app/features/logistic-tracking/logistic-tracking.component.ts
  src/app/features/logistic-tracking/logistic-tracking.module.ts
  src/app/features/management-kpis/management-kpis.component.html
  src/app/features/management-kpis/management-kpis.component.scss
  src/app/features/management-kpis/management-kpis.component.spec.ts
  src/app/features/management-kpis/management-kpis.component.ts
  src/app/features/management-kpis/management-kpis.module.ts
  src/app/features/production-and-inventory/production-and-inventory.module.ts
  src/app/features/production-tracking/components/layer-two/layer-two.component.ts
  src/app/features/production-tracking/components/process-tracking/process-tracking.component.ts
  src/app/features/production-tracking/mock-data/process-tracking.json
  src/app/features/production-tracking/production-tracking.model.ts
  src/app/features/production-tracking/production-tracking.service.ts
  src/app/features/resource-health/resource-health.module.ts
  src/app/features/resource-tracking/resource-tracking.component.html
  src/app/features/resource-tracking/resource-tracking.component.scss
  src/app/features/resource-tracking/resource-tracking.component.spec.ts
  src/app/features/resource-tracking/resource-tracking.component.ts
  src/app/features/resource-tracking/resource-tracking.module.ts
Due: prettier --write, eslint

touch up of production tracking
  src/app/features/production-tracking/components/layer-two/layer-two.component.ts
  src/app/features/production-tracking/components/sales-order-details/sales-order-details.component.html
  src/app/features/production-tracking/components/sales-order-details/sales-order-details.component.ts
Due: prettier --write, eslint

fixing authguard for deploymnt
  src/app/core/auth/auth.guard.ts
Due: prettier --write, eslint

refactoring to signals
  src/app/core/components/landing/landing.component.ts
  src/app/core/components/nav-menu/nav-menu.component.ts
  src/app/core/guards/route.guard.ts
  src/app/core/services/app.service.ts
  src/app/features/production-tracking/components/layer-one/layer-one.component.ts
  src/app/features/production-tracking/components/layer-two/layer-two.component.ts
  src/app/features/resource-health/components/layer-one/layer-one.component.ts
  src/app/features/resource-health/components/layer-two/layer-two.component.html
  src/app/features/resource-health/components/layer-two/layer-two.component.ts
  src/app/features/resource-health/components/machine-consumption/machine-consumption.component.ts
  src/app/features/resource-tracking/components/factory-layout-plan/factory-layout-plan.component.ts
  src/app/features/resource-tracking/components/layer-one/layer-one.component.html
  src/app/features/resource-tracking/components/layer-one/layer-one.component.ts
  src/app/features/resource-tracking/components/layer-two/layer-two.component.html
  src/app/features/resource-tracking/components/layer-two/layer-two.component.ts
Due: prettier --write, eslint

components added
  angular.json
  package-lock.json
  package.json
  src/app/app.routes.ts
  src/app/core/constants/map.constant.ts
  src/app/features/logistic-tracking/components/layer-one/layer-one.component.html
  src/app/features/logistic-tracking/components/layer-one/layer-one.component.scss
  src/app/features/logistic-tracking/components/layer-one/layer-one.component.spec.ts
  src/app/features/logistic-tracking/components/layer-one/layer-one.component.ts
  src/app/features/logistic-tracking/components/layer-resolver/layer-resolver.component.html
  src/app/features/logistic-tracking/components/layer-resolver/layer-resolver.component.scss
  src/app/features/logistic-tracking/components/layer-resolver/layer-resolver.component.spec.ts
  src/app/features/logistic-tracking/components/layer-resolver/layer-resolver.component.ts
  src/app/features/logistic-tracking/components/layer-two/layer-two.component.html
  src/app/features/logistic-tracking/components/layer-two/layer-two.component.scss
  src/app/features/logistic-tracking/components/layer-two/layer-two.component.spec.ts
  src/app/features/logistic-tracking/components/layer-two/layer-two.component.ts
  src/app/features/logistic-tracking/components/tracking-map/tracking-map.component.html
  src/app/features/logistic-tracking/components/tracking-map/tracking-map.component.scss
  src/app/features/logistic-tracking/components/tracking-map/tracking-map.component.spec.ts
  src/app/features/logistic-tracking/components/tracking-map/tracking-map.component.ts
  src/app/features/logistic-tracking/logistic-tracking.module.ts
  src/app/features/production-tracking/components/projected-completion/projected-completion.component.ts
  src/app/features/resource-health/resource-health.module.ts
Due: prettier --write, eslint

updating layer1 for production tracking
  src/app/features/production-tracking/components/layer-one/layer-one.component.html
  src/app/features/production-tracking/components/layer-one/layer-one.component.scss
  src/app/features/production-tracking/components/layer-one/layer-one.component.ts
  src/app/features/production-tracking/components/layer-two/layer-two.component.ts
  src/app/features/production-tracking/components/projected-completion/projected-completion.component.html
  src/app/features/production-tracking/components/projected-completion/projected-completion.component.ts
  src/app/features/production-tracking/components/sales-order/sales-order.component.html
  src/app/features/production-tracking/components/work-order/work-order.component.html
  src/app/features/production-tracking/components/work-order/work-order.component.ts
  src/app/features/production-tracking/production-tracking.model.ts
  src/app/features/production-tracking/production-tracking.service.ts
  src/app/shared/components/circle-status/circle-status.component.scss
Due: prettier --write, eslint

adding websocket for production tracking
  src/app/features/demand-profile/components/layer-one/layer-one.component.html
  src/app/features/demand-profile/components/layer-two/layer-two.component.html
  src/app/features/demand-profile/components/layer-two/layer-two.component.scss
  src/app/features/demand-profile/components/layer-two/layer-two.component.ts
  src/app/features/demand-profile/components/profile-chart/profile-chart.component.ts
  src/app/features/production-tracking/components/layer-one/layer-one.component.ts
  src/app/features/production-tracking/components/layer-two/layer-two.component.ts
  src/app/features/production-tracking/production-tracking.service.ts
  src/app/shared/components/navbar/navbar.component.html
  src/app/shared/components/navbar/navbar.component.scss
  src/app/shared/components/navbar/navbar.component.ts
Due: prettier --write, eslint

touchups
  src/app/features/demand-profile/components/layer-one/layer-one.component.html
  src/app/features/production-and-inventory/components/layer-one/layer-one.component.html
Due: prettier --write, eslint

adding heartbeat
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/core/components/heartbeat/heartbeat.component.html
  src/app/core/components/heartbeat/heartbeat.component.scss
  src/app/core/components/heartbeat/heartbeat.component.spec.ts
  src/app/core/components/heartbeat/heartbeat.component.ts
  src/app/core/constants/routes.constant.ts
Due: prettier --write, eslint

adding sonar token
  Jenkinsfile
Due: none

updating k8s link
  Jenkinsfile
Due: none

fixing
  Jenkinsfile
Due: none

adjust map height
  src/app/features/logistic-tracking/components/delivery-progress/delivery-progress.component.html
  src/app/features/logistic-tracking/components/delivery-progress/delivery-progress.component.scss
  src/app/features/logistic-tracking/components/layer-one/layer-one.component.scss
  src/app/features/logistic-tracking/components/layer-two/layer-two.component.scss
  src/app/features/logistic-tracking/components/order-status-individual/order-status-individual.component.html
  src/app/features/logistic-tracking/components/order-status-overview/order-status-overview.component.html
  src/app/features/logistic-tracking/components/order-status-overview/order-status-overview.component.scss
  src/app/features/logistic-tracking/components/tracking-map/tracking-map.component.html
  src/app/features/logistic-tracking/components/tracking-map/tracking-map.component.scss
  src/app/features/logistic-tracking/components/tracking-map/tracking-map.component.ts
Due: prettier --write, eslint

merging kpis and logistic
  package-lock.json
  src/app/features/logistic-tracking/components/layer-one/layer-one.component.html
  src/app/features/logistic-tracking/components/layer-one/layer-one.component.scss
  src/app/features/logistic-tracking/components/layer-two/layer-two.component.html
  src/app/features/logistic-tracking/components/order-status-individual/order-status-individual.component.ts
  src/app/features/logistic-tracking/components/order-status-overview/order-status-overview.component.ts
  src/app/features/logistic-tracking/components/tracking-map/tracking-map.component.html
  src/app/features/logistic-tracking/components/tracking-map/tracking-map.component.scss
  src/app/features/logistic-tracking/components/tracking-map/tracking-map.component.ts
  src/app/features/logistic-tracking/logistic-tracking-model.ts
  src/app/features/management-kpis/components/layer-one/layer-one.component.ts
  src/app/features/management-kpis/components/layer-two/layer-two.component.ts
  src/app/features/management-kpis/management-kpis-service.ts
Due: prettier --write, eslint

map css change
  src/app/core/constants/api.constant.ts
  src/app/core/constants/config.constant.ts
  src/app/core/styles/map.scss
  src/app/features/logistic-tracking/components/tracking-map/tracking-map.component.ts
  src/environments/environment.dev.ts
  src/environments/environment.prod.ts
Due: prettier --write, eslint

deleted map css
  src/app/core/styles/map.scss
Due: none

changes
  .lintstagedrc
  src/app/core/components/landing/landing.component.scss
  src/app/core/constants/map.constant.ts
  src/app/features/logistic-tracking/components/tracking-map/tracking-map.component.ts
Due: prettier --write, eslint

removing tests
  src/app/features/logistic-tracking/components/delivery-progress/delivery-progress.component.spec.ts
  src/app/features/logistic-tracking/components/layer-one/layer-one.component.spec.ts
  src/app/features/logistic-tracking/components/layer-resolver/layer-resolver.component.spec.ts
  src/app/features/logistic-tracking/components/layer-two/layer-two.component.spec.ts
  src/app/features/logistic-tracking/components/order-status-individual/order-status-individual.component.spec.ts
  src/app/features/logistic-tracking/components/order-status-overview/order-status-overview.component.spec.ts
  src/app/features/logistic-tracking/components/tracking-map/tracking-map.component.spec.ts
  src/app/features/management-kpis/components/kpi-detail/kpi-detail.component.spec.ts
  src/app/features/management-kpis/components/layer-one/layer-one.component.spec.ts
  src/app/features/management-kpis/components/layer-resolver/layer-resolver.component.spec.ts
  src/app/features/management-kpis/components/layer-two/layer-two.component.spec.ts
  src/app/features/management-kpis/components/pie-chart/pie-chart.component.spec.ts
Due: prettier --write, eslint

fixing pins
  src/app/features/logistic-tracking/components/tracking-map/tracking-map.component.scss
Due: none

adding optimization
  angular.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,html}) or (any of: *.{json,md})
  eslint: any of: *.{ts,html}
