Repository kapil797/multi-site-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,html}": ["prettier --write", "eslint"],
  "*.{json,md,css,scss,less}": ["prettier --write"]
}

edit jenkins
  Jenkinsfile
Due: none

edited jenkins
  Jenkinsfile
Due: none

editted jenkins
  Jenkinsfile
Due: none

change baseurl
  Dockerfile
Due: none

edit jenkins
  Dockerfile
Due: none

edit angular.json
  Dockerfile
  angular.json
Due: prettier --write

edit jenkins
  Dockerfile
  Jenkinsfile
Due: none

edit dockerfile
  Dockerfile
Due: none

edit nginx
  Dockerfile
  nginx/default.conf
Due: none

edit docker
  Dockerfile
Due: none

edit angular.json
  angular.json
Due: prettier --write

add slash
  Dockerfile
  Jenkinsfile
  nginx/default.conf
Due: none

edit ang.json
  Dockerfile
  angular.json
Due: prettier --write

testing
  layoutConfig.json
Due: prettier --write

first-commit
  layoutConfig.json
Due: prettier --write

changed base href
  Dockerfile
  Jenkinsfile
Due: none

removed slash from basehref
  Dockerfile
  nginx/default.conf
Due: none

fixed chunk routes
  Dockerfile
  nginx/default.conf
Due: none

/dashboard removed
  Dockerfile
Due: none

added favourites
  src/app/app.routes.ts
  src/app/core/constants/routes.constant.ts
  src/app/features/favourites/components/layer-one/layer-one.component.html
  src/app/features/favourites/components/layer-one/layer-one.component.scss
  src/app/features/favourites/components/layer-one/layer-one.component.spec.ts
  src/app/features/favourites/components/layer-one/layer-one.component.ts
  src/app/features/favourites/components/layer-resolver/layer-resolver.component.html
  src/app/features/favourites/components/layer-resolver/layer-resolver.component.scss
  src/app/features/favourites/components/layer-resolver/layer-resolver.component.spec.ts
  src/app/features/favourites/components/layer-resolver/layer-resolver.component.ts
  src/app/features/favourites/components/layer-two/layer-two.component.html
  src/app/features/favourites/components/layer-two/layer-two.component.scss
  src/app/features/favourites/components/layer-two/layer-two.component.spec.ts
  src/app/features/favourites/components/layer-two/layer-two.component.ts
  src/app/features/favourites/favourites-model.ts
  src/app/features/favourites/favourites-routing.module.ts
  src/app/features/favourites/favourites-service.ts
  src/app/features/favourites/favourites.module.ts
  src/app/features/favourites/multi-site/multi-site.component.html
  src/app/features/favourites/multi-site/multi-site.component.scss
  src/app/features/favourites/multi-site/multi-site.component.spec.ts
  src/app/features/favourites/multi-site/multi-site.component.ts
  src/environments/environment.dev.ts
  tsconfig.json
Due: prettier --write, eslint

machine data
  src/app/core/services/machine.service.spec.ts
  src/app/core/services/machine.service.ts
  src/app/features/production-tracking/widgets/production-tracking1-large/production-tracking1-large.component.ts
Due: prettier --write, eslint

added machine data api
  src/app/core/constants/api.constant.ts
  src/app/core/constants/config.constant.ts
  src/app/core/services/machine.service.ts
  src/environments/environment.dev.ts
Due: prettier --write, eslint

title changed
  src/app/core/components/landing/landing.component.html
  src/app/features/resource-health/widgets/current-oee1-small/current-oee1-small.component.html
Due: prettier --write, eslint

used api from daron
  layoutConfig.json
  src/app/features/production-tracking/widgets/production-tracking1-large/production-tracking1-large.component.ts
  src/app/features/resource-tracking/widgets/machine-status1-small/machine-status1-small.component.html
  src/app/features/resource-tracking/widgets/machine-status1-small/machine-status1-small.component.scss
  src/app/features/resource-tracking/widgets/machine-status1-small/machine-status1-small.component.ts
  src/assets/mock-data/resource-tracking/rt-widget2.json
  src/environments/environment.dev.ts
Due: prettier --write, eslint
